// @import url('https://fonts.loli.net/css2?family=Gugi&display=swap');
// @import url('https://fonts.loli.net/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-slate-900 dark:text-white;
}
// single post
.post {
  h2 {
    @apply relative text-xl font-bold leading-[1.78] mt-4 mb-2;
    &::before {
      position: absolute;
      display: block;
      content: '#';
      color: gray;
      opacity: 0.75;
      transform: translateX(-120%);
    }
  }
  h3 {
    @apply leading-[1.78] font-bold text-base underline mt-4 mb-2;
  }
  h4 {
    @apply leading-[1.78] text-xs mt-4 mb-2;
  }
  p {
    @apply leading-relaxed my-4;
    img {
      @apply mx-auto object-cover object-center;
    }
    code{
      @apply bg-gray-100 border text-red-600 whitespace-nowrap rounded-b-sm;
      padding: 1px;
    }
  }
  blockquote {
    @apply mt-4 mb-12 bg-gray-100 p-4 rounded-lg border-l-4 border-l-slate-200 text-gray-500;
  }
  li {
    @apply list-inside list-disc text-gray-500 dark:text-gray-200;
    > ul {
      @apply ml-[2em];
    }
  }
  table{
    @apply mb-4 table-fixed border-collapse border border-gray-400;
    th,td{
      @apply border border-gray-300 p-2 text-gray-400;
    }
    th{
      @apply text-gray-600 bg-gray-200;
    }
  }
}

.random-post {
  h2 {
    @apply relative font-bold text-base mb-4;
  }
  li {
    @apply list-disc list-inside;
    a {
      @apply text-gray-500 underline text-sm dark:text-gray-200;
    }
  }
}

.http-status {
  h1 {
    @apply text-3xl font-bold mb-4;
  }
  h2 {
    @apply flex gap-4 text-xl font-bold mb-2;
  }
  &-item {
    @apply mb-8;
  }
  a {
    @apply flex gap-2 py-2;
  }
}

.pagination {
  @apply flex space-x-1 justify-center py-4;
  span {
    @apply cursor-pointer w-8 h-8 leading-8 rounded-xl text-center text-gray-700 bg-gray-200 hover:bg-blue-500 hover:text-white;
    &.active {
      @apply bg-blue-500 text-white;
    }
  }
}
[class^='language'] {
  font-family: monospace;
}
